body {
background: #691150; /* Old browsers */
margin: 0px;
padding: 0px;
}

#blackness{	
	visibility: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
}

#text{
	margin: 1%;
	text-align: center;
	font-family: arial;
	font-size: 2em;
	height: 100%;
	overflow: scroll;
}

#dialog{		
	visibility: hidden;
	background: #dee3e1;
	width: 96%;
	height: 96%;
	position: fixed;
	top: 2%;
	left: 2%;
    border: 2px solid;
    border-radius: 25px;
}

.button{
	background: #dee3e1;
	margin: 5%;
	padding: 2%;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 4em;
	box-shadow: 15px 15px 50px 5px #000000;
}

#header{
	background: #691150;
	width: 100%;
}

#headerimg{
	width: 100%;
}

.label{
	width: 100%;
}