body {
background: #96407d; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #96407d 0%, #691150 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#96407d), color-stop(100%,#691150)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #96407d 0%,#691150 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #96407d 0%,#691150 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #96407d 0%,#691150 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #96407d 0%,#691150 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96407d', endColorstr='#691150',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

margin: 0px;
padding: 0px;
}

#blackness{	
	float: right;
	position: absolute;
	margin: 3%;
	padding: 5px;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 94%;
	background: #000000;
	opacity: 0.9;
}

#blackclose{
	color: white;
	background-color: #940000;
	margin: 2%;
	text-align: center;
	font-family: arial;
	font-size: 1.5em;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#text{
	text-align: center;
	font-family: arial;
	color: white;
	font-size: 1.5em;
	height: 87%;
	width: 94%;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#dialog{		
	visibility: hidden;
	background: #dee3e1;
	width: 96%;
	height: 89%;
	position: fixed;
	top: 2%;
	left: 2%;
    border: 2px solid;
    border-radius: 25px;
}

#close{		
	visibility: hidden;
	background: #dee3e1;
	width: 96%;
	height: 5%;
	position: fixed;
	bottom: 2%;
	left: 2%;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 3em;
	vertical-align: middle;
	l
}

.button{
	background: #dee3e1;
	margin: 3%;
	padding: 2%;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 4em;
	box-shadow: 15px 15px 50px 5px #000000;
}

#header{
	width: 100%;
}

#headerimg{
	width: 100%;
}

.label{
	width: 100%;
}
